<p id="notice"><%= notice %></p>

<p>
  <strong>Scoreid:</strong>
  <%= @score.scoreID %>
</p>

<p>
  <strong>Userid:</strong>
  <%= @score.userID %>
</p>

<p>
  <strong>Score level reached:</strong>
  <%= @score.score_level_reached %>
</p>

<p>
  <strong>Time:</strong>
  <%= @score.time %>
</p>

<p>
  <strong>Points:</strong>
  <%= @score.points %>
</p>

<%= link_to 'Edit', edit_score_path(@score) %> |
<%= link_to 'Back', scores_path %>
